tnxjee/tnxjee-webmvc-view/src/main/resources/META-INF/schema/menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.truenewx.org/tnxjee/schema/menu"
        targetNamespace="http://www.truenewx.org/tnxjee/schema/menu">
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="options" minOccurs="0"/>
                <xs:element ref="caption" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="desc" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="user-type" type="xs:string"/>
            <xs:attribute name="caption" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>默认显示名称</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="desc" type="xs:string">
                <xs:annotation>
                    <xs:documentation>默认描述</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="profile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>可用的环境，多个之间用逗号分隔</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="options" minOccurs="0"/>
                <xs:element ref="caption" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="desc" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="caption" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>默认显示名称</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="desc" type="xs:string">
                <xs:annotation>
                    <xs:documentation>默认描述</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="profile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>可用的环境，多个之间用逗号分隔</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="path" type="xs:string"/>
            <xs:attribute name="rank" type="xs:string"/>
            <xs:attribute name="permission" type="xs:string"/>
            <xs:attribute name="permission-class" type="xs:string">
                <xs:annotation>
                    <xs:documentation>permission为枚举或静态常量时，指定所属类名</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="icon" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="target" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="caption">
        <xs:annotation>
            <xs:documentation>显示名称</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="locale" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="desc">
        <xs:annotation>
            <xs:documentation>描述</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="locale" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="options">
        <xs:annotation>
            <xs:documentation>选项集</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="inherit" type="xs:boolean" default="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="option">
        <xs:annotation>
            <xs:documentation>选项</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>选项值的类型，默认为字符串</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
